<nz-content style="padding:0; ">
  <nz-breadcrumb style="margin:16px 0;">
  </nz-breadcrumb>
  <div class="jumbotron jumbotron-fluid"
       style="padding-left: 100px; width: 100%; margin-top: 130px; height: 70vh; overflow: hidden; opacity: 20%">
    <div class="container" style="float: left; width: 60vw;">
      <h1 class="display-3">Built for people</h1>
      <p style="font-size: 22px" class="lead">
        ShopProductsList is an application that allows you to monitor resources in your home.
        It allows you to easily create lists on which you can place products available at home and those to be
        bought</p>
    </div>
    <div id="narrow" style=" float: left;">
      <div id="login">
        <app-login></app-login>
      </div>
    </div>
  </div>
</nz-content>
