:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

:host ::ng-deep .trigger:hover {
  color: #1890ff;
}

:host ::ng-deep .logo {
  height: 32px;
  margin: 16px;
}

.loggedUser{
  position: absolute;
  right: 15%;
  padding: 0px 10px 0px;
  margin-right: -10px;
  font-size: 18px;
}


.logo {
  top: 0;
  width: 200px;
  height: 31px;
  margin-top: -5px;
  float: left;
}
.log {
  width: 200px;
  height: 31px;
  margin: 16px 0px 36px 0px;
  float: left;
}
.anticon-logout {
  margin: 5px !important;
  color: #ffffffa6;
}
.anticon {
  color: #ffffffa6;
}
.nav-text {
  color: #ffffffa6;
}

nz-header {
  z-index: 2;
  position:fixed;
  width:100%;
  background-color: #060606
}
.dropdown-toggle {
  padding: 0;
}

.fullname {
  text-decoration: none !important;
  color: inherit;
  margin: 0 8px;
  float: right;
}


