<a (click)="showModal()">Add User To Family</a>
<nz-modal [nzStyle]="{ top: '100px' }" nzOkText="Send invite" nzMaskClosable="true" [(nzVisible)]="isVisible" nzTitle="Add User To Family" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()" [nzOkLoading]="isOkLoading">

  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label nzRequired>Family name</nz-form-label>
      <nz-form-control>
        <nz-select id="familyName" formControlName="familyName" nzPlaceHolder="Select family">
          <nz-option *ngFor="let family of families" nzValue={{family.familyName}} nzLabel={{family.familyName}}></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="validateForm.get('familyName').dirty && validateForm.get('familyName').errors">Please select family!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Username</nz-form-label>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="anticon anticon-user-add">
            <input type="text" placeholder="Username" formControlName="userName" nz-input (input)="onInput($event.target?.value)" [nzAutocomplete]="auto">
            <nz-autocomplete nzBackfill #auto>
              <nz-auto-option *ngFor="let option of options" [nzValue]=option.username>
                {{option.username}}
              </nz-auto-option>
            </nz-autocomplete>
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">Please input username!</nz-form-explain>
        </nz-form-control>
    </nz-form-item>
  </form>


</nz-modal>
