nz-card {
  width: 100%;
  background-color: #575757f5;
}
.user-profile-view {
  height: 100%;
  min-height: 100%;
  padding-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
}

.user-image {
  float: left;
  width: 310px;
  height: 320px;
}

:host ::ng-deep .avatar-uploader > .ant-upload {
  float: left;
  width: 290px;
  height: 320px;
}
:host ::ng-deep .ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}
:host ::ng-deep .ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.avatar {
  float: left;
  width: 290px;
  height: 320px;
}

.content {
  height: 600px;
  padding: 60px 0 60px 0;
}
#wrapper{
  width: 400px;
  float: left;
}
#inner1{
  float: left;
}
#inner2{
  float: left;
  clear: left;
}
.inneri2{
  float: left;
  clear: left;
  width: 700px;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  font-size: 18px;
}
