<a (click)="showModal()">register now!</a>
<nz-modal [nzStyle]="{ top: '50px' }" nzOkText="Register" nzMaskClosable="true" [(nzVisible)]="isVisible"
          nzTitle="Register" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()" [nzOkLoading]="isOkLoading">

  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

    <nz-form-item>
      <nz-form-label nzRequired>First name</nz-form-label>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="anticon anticon-user">
          <input type="text" nz-input formControlName="firstname" placeholder="First name">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('firstname').dirty && validateForm.get('firstname').errors">Please input
          your first name!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Last name</nz-form-label>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="anticon anticon-user">
          <input type="text" nz-input formControlName="lastname" placeholder="Last name">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('lastname').dirty && validateForm.get('lastname').errors">Please input
          your last name!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Username</nz-form-label>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="anticon anticon-user">
          <input type="text" nz-input formControlName="username" placeholder="Username">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('username').dirty && validateForm.get('username').errors">Please input
          your username!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Password</nz-form-label>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="anticon anticon-lock">
          <input type="password" nz-input formControlName="password" placeholder="Password">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input
          your password!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label nzRequired>Email</nz-form-label>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="anticon anticon-mail">
          <input type="text" nz-input formControlName="email" placeholder="Email">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">Please input your
          email!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Age</nz-form-label>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="anticon anticon-heart-o">
          <input type="text" nz-input formControlName="age" placeholder="Age">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('age').dirty && validateForm.get('age').errors">Please input your
          age!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>


  </form>


</nz-modal>
