<div class="container">
  <nz-card>
    <div id="wrapper">
      <div id="first">
        <h2>ProductsList started</h2>
      </div>
      <div id="second">
        <nz-dropdown [nzTrigger]="'click'">
          <a class="dropdown" nz-dropdown>
            Select Family <i class="anticon anticon-down"></i>
          </a>
          <ul nz-menu >
            <li *ngIf="families?.length == 0" nz-menu-item >empty</li>
            <li *ngFor="let family of families" (click)="getProductsForFamily(family.familyName)" nz-menu-item routerLink="/productsList">{{family.familyName}}</li>
          </ul>
        </nz-dropdown>
      </div>
    </div>
    <app-create-product (productsListChanged)="productsListHandler($event)" [familyName]="familyName"></app-create-product>

    <div class="container">
      <h5>Selected family: {{familyName}}</h5>
      <nz-table class="main"
                [nzFrontPagination]="true"
                [nzShowPagination]="true"
                 #filterTable
                [nzData]="products"
                [nzPageSize]="6"
                nzSize="default">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th nzShowSort nzSortKey="productId">ProductID</th>
          <th nzShowSort nzSortKey="product_name">ProductName</th>
          <th nzShowSort nzSortKey="frequency_of_use">FrequencyOfUse</th>
          <th nzShowSort nzSortKey="amount">Amount</th>
          <th nzShowSort nzSortKey="in_stock">InStock</th>
        </tr>
        </thead>
        <tbody style="background-color: #fff" >
        <tr *ngFor="let data of filterTable.data">
          <td>{{data.productId}}</td>
          <td>{{data.productName}}</td>
          <td>{{data.frequencyOfUse}}</td>
          <td>{{data.amount}}</td>
          <td>{{data.inStock}}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>


  </nz-card>
</div>
