<!--<nz-badge [nzDot]="checkIfNotificationNotEmpty()"><a (click)="open()"><i nz-icon class="anticon anticon-bell"></i></a></nz-badge>-->
<a (click)="open()">
  <nz-badge [nzCount]="notifications.length" style="margin-right: 24px;">
    <nz-avatar *ngIf="!(avatarUrl$ | async)" nzIcon="anticon anticon-user" [nzShape]="'circle'"></nz-avatar>
    <nz-avatar *ngIf="(avatarUrl$ | async)" [nzSrc]="('/api/avatar/' + (avatarUrl$ | async)) | secure | async" [nzShape]="'circle'"></nz-avatar>
  </nz-badge>
</a>

<nz-drawer [nzClosable]="true" [nzWidth]="400" [nzVisible]="visible" nzPlacement="right" nzTitle="Invitations"
           (nzOnClose)="close()">
  <nz-card id="parent" *ngFor="let notification of notifications">
    <div>
      <div class="text">{{notification.notificationInfo}}</div>
      <div id="narrow">
        <button nz-tooltip nzTitle="Decline" (click)="decline(notification)" nzShape="circle" nz-button nzType="danger">
          <i class="anticon anticon-close"></i></button>
      </div>
      <div id="wide">
        <button nz-tooltip nzTitle="Accept" (click)="accept(notification)" nzShape="circle" nz-button nzType="primary">
          <i class="anticon anticon-check"></i></button>
      </div>
    </div>
  </nz-card>
</nz-drawer>

