<span class="notify" title><a (click)="open()" class="nav-text"><i class="anticon anticon-bell"></i></a></span>
<nz-drawer [nzClosable]="true" [nzWidth]="400" [nzVisible]="visible" nzPlacement="right" nzTitle="Notifications" (nzOnClose)="close()">
  <nz-card id="parent" *ngFor="let notification of notifications">
    <div>
      <div class="text">{{notification.notificationInfo}}</div>
      <div id="narrow"><button (click)="decline(notification)" nzShape="circle" nz-button nzType="danger"><i class="anticon anticon-close"></i></button></div>
      <div id="wide"><button (click)="accept(notification)" nzShape="circle" nz-button nzType="primary"><i class="anticon anticon-check"></i></button></div>
    </div>
  </nz-card>
</nz-drawer>

